body
{
  align-items:center;
  background:#22262b;
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:'Oswald';
  font-size:10px;
  height:10vh;
  justify-content:center;
  margin:0;
  padding:0;
}

#out
{
  font-size:20px;
  margin-top:20px;
}

.chair {
  background-image: url('../chair.png') no-repeat center;
  width: 100%;
}
